/*General*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-family: 'Open Sans', sans-serif;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.clearFix{
	clear:both;
	height: 0%;
}

.body-define{
	height: 100vh;
	overflow-y: scroll;
	position: fixed;
	left:0;
	top:0;
}

h1{
	font-family: 'Quantico', sans-serif;
	letter-spacing: 5px;
	text-transform: uppercase;
	text-align: center;
	color: cyan;
	font-size: 5em;
	margin-top: 40%;
	margin-bottom: 10%;
	text-shadow: 0px 0px 20px cyan;
}

p {
	font-family: 'Quantico', sans-serif;
	text-align: center;
	font-size: 1em;
	color: #FFFFFF;
	text-shadow: 0px 0px 20px #FFFFFF;
}

body{
	background-image: url("img/brisbane.jpg");
}

/***** INDEX *****/

#indexHeader {
	/*background-color: #000000;*/

	/*width: 100%;
	overflow: hidden;*/
}

.indexButton{
	background-color: magenta;
	padding: 20px;
	width: 100%;
	margin-bottom: 20px;
	font-family: 'Quantico', sans-serif;
}

.indexButton2{
	background-color: magenta;
	padding: 20px;
	width: 100%;
	margin-bottom: 20px;
	font-family: 'Quantico', sans-serif;
}
