/*General*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-family: 'Open Sans', sans-serif;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.clearFix{
	clear:both;
	height: 0%;
}

.body-define{
	height: 100vh;
	overflow-y: scroll;
	position: fixed;
	left:0;
	top:0;

}

h1{
	font-family: 'Quantico', sans-serif;
	letter-spacing: 10px;
	text-transform: uppercase;
	text-align: center;
	color: cyan;
	font-size: 5em;
	margin-top: 40%;
	margin-bottom: 10%;
	text-shadow: 0px 0px 20px cyan;
}

h2{
	font-family: 'Quantico', sans-serif;
	letter-spacing: 10px;
	text-transform: uppercase;
	text-align: center;
	color: cyan;
	font-size: 2em;
	text-shadow: 0px 0px 20px cyan;
}

a:hover{
	text-decoration: none;
}

p {
	font-family: 'Quantico', sans-serif;
	text-align: center;
	font-size: 1em;
	color: #FFFFFF;
	text-shadow: 0px 0px 20px #FFFFFF;
	margin-top: 40%;
	margin-bottom: 10%;
}

/***** INDEX *****/

.indexContents{
	background-image: url("../img/brisbane.jpg");
	background-size: auto 100%;
}

#indexHeader {
	background-color: rgba(0,0,0,0.8);
	overflow: hidden;
	height: 100%;
}

.indexButton{
	background-color: rgba(255,0,255,0.8);
	box-shadow: 0px 0px 20px #FF00FF;
	padding: 10px;
	width: 100%;
	margin-bottom: 20px;
	font-family: 'Quantico', sans-serif;
	font-size: 1em;
	color: #000000;
}

.indexButton:hover{
	color: #000000;
	text-decoration: none;
}

/***** MAP *****/
.mapContents{
	position: absolute;
	z-index: 2;
	width: 100%;
}

#banner{
	background-color: rgba(0,0,0,0.9);
	overflow: hidden;
	width: 100%;
}

#map{
	position: relative;
}
